@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Lobster&family=Press+Start+2P&family=Rokkitt:wght@100;300;400;500;600;700;800;900&display=swap");

/* CSS variables */
:root {
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(0, 0, 0);
  --red-munsell: rgb(255, 0, 55);
  --robin-egg-blue: rgb(0, 206, 200);
  --fuchsia-crayola: rgb(172, 90, 184);
  --chrome-yellow: rgb(255, 170, 0);
  --camel: rgb(200, 160, 90);
  --font-title: "Lobster", cursive;
  --font-text: "Rokkitt", serif;
  --font-button: "Audiowide", cursive;
}

/* General css */

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--white-color);
  font-family: var(--font-text);
  font-size: 1rem;
  color: var(--black-color);
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit;
}

/* Header */
header {
  width: 100%;
  position: sticky;
}

nav {
  width: 100%;
  height: 5rem;
  background-color: var(--black-color);
}

#nav-bar {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-items: flex-end;
  gap: 2rem;
  margin: 0;
}

.links {
  font-family: var(--font-button);
  font-size: 1.3rem;
}

#logo {
  color: var(--white-color);
  font-size: 2.5rem;
  font-family: var(--font-title);
  margin-right: 4rem;
}

#link_shows {
  color: var(--red-munsell);
}

#link_artists {
  color: var(--robin-egg-blue);
}

#link_dates {
  color: var(--camel);
}

/* Main content */
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.section {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.sectionModel {
  display: flex;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 1s;
}

.sectionModal {
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 60%;
  border-radius: 0.7rem;
  margin-left: auto;
  margin-right: auto;
}

.moviesImg {
  width: 90%;
  height: 29rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  margin-left: 2rem;
  margin-right: 0;
}

.moviesData {
  padding: 2.5rem 3.75rem 3rem 3.75rem;
}

.moviesName {
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
}

.moviesRow {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: #c8a05aff;
}

.moviesRow:not(:last-child) {
  margin-bottom: 1rem;
}

.moviesRow span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.4rem;
}

.btn_movies {
  border: none;
  font-size: 2rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  color: white;
  background-color: #ff0045ff;
  cursor: pointer;
  width: 60%;
  margin-bottom: 6rem;
  margin-top: 1rem;
}

img {
  display: flex;
  display: block;
  width: 80rem;
  margin: 4rem;
}

img.parallel {
  width: 40rem;
  margin: 2rem;
  border: 3rem solid white;
  box-shadow: 0 2rem 5rem 1rem #ac5ab8ff; */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ff0045ff;
  color: white;
  text-align: center;
}

.itotal {
  margin-top: 0;
  display: flex;
  flex-direction: row;
}

.writeComments {
 display: flex;
 flex-direction: column;
 align-content: center;
 justify-content: space-between;
 margin-left: 1rem;
}

input {
  margin-top: 1rem;
  width: 70%;
  height: 1.5rem;
}

.imovies {
 font-size: 19px;
}
.writeComment {
  margin-bottom: 0;
}
.close {
  text-align: right;
  font-size: 6rem;
  margin-right: 4rem;
  margin-bottom: 0;
}